/node_modules
/public/hot
/public/admin
/public/storage
/storage/*.key
storage/debugbar/
/vendor
.env
.env.backup
.htaccess
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
/.history
/storage/debugbar/
/storage/public/
*.xml
*.iml

